<!DOCTYPE html>
<html lang="zh-CN">
<head profile="http://gmpg.org/xfn/11">
	<meta charset="UTF-8" />
    <meta name="google-site-verification" content="gJJhTR2qOI59GBCkM0Fqef7XwbZBRxfFmkgvKJXtC9s" />
	<title>{% if page_title %}{{ page_title }}{% else %}{{ site_name }}{% endif %}</title>
	<meta name="description" content="{% if article %}{{ article.content|slice:":150" }}{% else %}{{ site_name }}{% endif %}" />
	<link rel="stylesheet" type="text/css" media="screen"  href="/static/themes/default/style.css" />
	<link rel="alternate" type="application/atom+xml" href="{{ feed_url }}" />
	<link rel="shortcut icon" href="/favicon.ico" />
        <link rel="me" type="text/html" href="http://www.google.com/profiles/mobeiheart" />
        <link rel="me" type="text/html" href="https://twitter.com/0momi" />
        <link rel="friend" type="text/html" href="http://tech-note-inbox.blogspot.com" />
        <link rel="friend" type="text/html" href="http://xreamblog.appspot.com" />
</head>
